.product-list {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-list, .product-list * {
  background-color: #353535;
}

.pl-info {
  width: 65%
}

.pl-title {
  font-size: 50px;
  font-weight: 600;
}

.pl-desc {
  margin: 20px 0px;
}

.pl-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
}

.product-container a {
  text-decoration: none;
}

.product-container h2 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 0.6rem;
  color: #B9B3F5;
  transition: ease-in 0.2s;
}

.product-container h2:hover {
  transition: ease-in 0.2s;
  font-size: 1.9rem;
  color: #DEAAFA;
}

@media screen and (max-width: 480px) {
  .product-list {
    padding: 0.6rem;
  }

  .pl-info {
    width: 100%;
  }

  .pl-list {
    padding: 0.3rem;
  }

  .product-container {
    margin-top: 0.2rem;
    height: fit-content;
  }
}
