.about {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #353535;
}

.about * {
  background-color: transparent;
}

.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-right {
  flex: 1;
}

.about-card.bg {
  background-color: #B197DE;
  position: absolute;
  top: 50px;
  left: 50px;
}

.about-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  /* overflow: hidden; */
  position: relative;
}

.about-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-title {
  font-weight: 400;
}

.about-sub, #about-box {
  margin: 20px 0px;
}

#about-box {
  width: 95%;
  height: 13.2rem;
  padding: .6rem .4rem;
  overflow: auto;
}

#about-box::-webkit-scrollbar-track {
  border-radius: 10px;
  border-radius: 10px;
  background-color: inherit;
}

#about-box::-webkit-scrollbar {
  width: 12px;
  background-color: inherit;
  border-radius: 10px;
}

#about-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #97A3DE;
}

#about-box {
  width: 100%;
}

.about-desc {
  font-weight: 300;
  text-align: center;
}


@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
  }

  .about-title {
    text-align: center;
    margin-top: 1em;
  }

  #about-box {
    height: 20vh;
  }

  .about-left {
    width: 100%;
    margin: 0;
  }

  .about-card {
    width: 20rem;
    height: 20rem;
  }

  .about-right {
    padding: 1.6rem;
    flex: 2;
  }

  .about-desc {
    height: fit-content
  }

}
