.footer {
  padding: 1.2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  background-color: #97A3DE;
}

.footer * {
  background-color: transparent;
}

.git-link {
  text-decoration: none;
  margin-left: 0.4rem;
  transition: ease-in 0.2s;
}

.git-link:hover {
  color: #DEAAFA;
  transition: ease-in 0.2s;
  text-decoration: underline;
}
